@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  outline: navy 1px solid;
} */

.didact-gothic-regular {
  font-family: "Didact Gothic", sans-serif;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

* {
  @apply poppins-regular;
}

body {
  margin: 0;
  font-family: 'Century Gothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #30b591;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #267E66;
}

div> ::-webkit-scrollbar-track {
  border-radius: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

.g-outline {
  @apply outline;
  @apply outline-1;
  @apply outline-gray-400;
}