@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Century Gothic';
}
body {
  margin: 0;
  font-family: 'Century Gothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
